ul {
  list-style: none; }
  ul li {
    background-color: darkblue; }
    ul li a {
      text-decoration: none;
      color: black; }
  ul #abuelo {
    background-color: burlywood;
    padding: 20px; }
  ul h1 {
    font-size: 2em;
    color: aquamarine; }
