/*variables en SASS*/
//variables van siempre arriba de todo en scss
$color-titulos: red;
$size-titulos: 1.3em;
$BG-contenedor: rgb(41, 209, 74);

body{
    background-color: $bg-contenedor;
}

ul{
    list-style:none;

    li{
        background-color: darkblue;

        a{
            text-decoration: none;
            color: black;
        }
    }
}

    #abuelo{
        background-color: burlywood;
        padding:20px;

        p{
            font-size:30px;
        }
    }

    p{
        font-size: 20px;  
    }

    /*La p dentro de abuelo indica q los parrafos dentro de este contenedor
    tendran 30px de fuente, mientras que los demas p tendran 20px, como se indica debajo*/

    h1{
        font-size: 2em;
        color:aquamarine
    }

    .titulo{
        font-style: italic;
        color: $color-titulos;
        font-size: $size-titulos;
    }

    .hijo{
        font-size:25px;

        p{
            background: #000;
        }
    }
